:root {
  --content-primary-light: rgb(54, 48, 43);
  --content-secondary-light: rgb(118, 110, 101);
  --background-light: rgb(255, 255, 255);
  --code-background-light: rgb(247, 245, 242);
  --code-border-light: rgb(229, 224, 218);

  --content-primary-dark: rgb(231, 222, 211);
  --content-secondary-dark: rgb(173, 156, 142);
  --background-dark: rgb(28, 24, 21);
  --code-background-dark: rgb(39, 33, 29);
  --code-border-dark: rgb(76, 66, 58);
}
