{{ define "main" }}

<div class="list-container">
  {{ partial "breadcrumbs.html" . }}

  <h1>{{ .Title }}</h1>
  {{ .Content }}

  {{ $isTagsPage := and (eq .Kind "taxonomy") (eq .Data.Plural "tags") }}

  {{ $paginationSize := 1 }}
  {{ if gt .Site.Params.paginationSize 0 }}
    {{ $paginationSize = .Site.Params.paginationSize }}
  {{ end }}

  {{ $paginator := .Paginate .Pages $paginationSize }}

  {{ range $paginator.Pages }}
    {{ if $isTagsPage }}
      {{ partial "tag-entry.html" . }}
    {{ else }}
      {{ partial "post-entry.html" . }}
    {{ end }}
  {{ end }}

  {{ partial "pagination-controls.html" $paginator }}
</div>

{{ end }}
