:root {
  --content-primary-light: #363533;
  --content-secondary-light: #666666;
  --background-light: #ffffff;
  --code-background-light: #f5f3f1;
  --code-border-light: #e4e0dc;

  --content-primary-dark: #c9cacc;
  --content-secondary-dark: #908d8d;
  --background-dark: #1d1f21;
  --code-background-dark: #252829;
  --code-border-dark: #3d3f41;
}
