{{- $page := .page -}}
{{- $authorName := site.Params.author | default site.Title -}}
{{- $language := site.LanguageCode | default "zh-cn" -}}
{{- $description := .description -}}
{{- $siteDescription := site.Params.description | default $description -}}
{{- $personID := printf "%s#person" site.BaseURL -}}
{{- $websiteID := printf "%s#website" site.BaseURL -}}
{{- $webpageID := printf "%s#webpage" $page.Permalink -}}
{{- $sameAs := slice -}}
{{- range site.Params.social -}}
  {{- with .url -}}
    {{- $sameAs = $sameAs | append . -}}
  {{- end -}}
{{- end -}}

{{- $person := dict
  "@type" "Person"
  "@id" $personID
  "name" $authorName
  "url" site.BaseURL
-}}
{{- with $sameAs -}}
  {{- $person = merge $person (dict "sameAs" .) -}}
{{- end -}}
{{- with resources.Get "img/avatar.png" -}}
  {{- $person = merge $person (dict "image" .Permalink) -}}
{{- end -}}

{{- $website := dict
  "@type" "WebSite"
  "@id" $websiteID
  "url" site.BaseURL
  "name" site.Title
  "description" $siteDescription
  "inLanguage" $language
  "publisher" (dict "@id" $personID)
-}}

{{- $pageType := "WebPage" -}}
{{- if or $page.IsSection (eq $page.Kind "taxonomy") (eq $page.Kind "term") -}}
  {{- $pageType = "CollectionPage" -}}
{{- end -}}

{{- $webpage := dict
  "@type" $pageType
  "@id" $webpageID
  "url" $page.Permalink
  "name" (cond $page.IsHome site.Title $page.Title)
  "description" $description
  "inLanguage" $language
  "isPartOf" (dict "@id" $websiteID)
-}}

{{- $graph := slice $website $person $webpage -}}

{{- if $page.IsPage -}}
  {{- $article := dict
    "@type" "BlogPosting"
    "@id" (printf "%s#article" $page.Permalink)
    "headline" $page.Title
    "description" $description
    "url" $page.Permalink
    "mainEntityOfPage" (dict "@id" $webpageID)
    "author" (dict "@id" $personID)
    "publisher" (dict "@id" $personID)
    "inLanguage" $language
  -}}
  {{- with $page.Date -}}
    {{- $article = merge $article (dict "datePublished" (.Format "2006-01-02T15:04:05Z07:00")) -}}
  {{- end -}}
  {{- with $page.Lastmod -}}
    {{- $article = merge $article (dict "dateModified" (.Format "2006-01-02T15:04:05Z07:00")) -}}
  {{- end -}}
  {{- $keywords := slice -}}
  {{- range $page.GetTerms "tags" -}}
    {{- $keywords = $keywords | append .LinkTitle -}}
  {{- end -}}
  {{- with $keywords -}}
    {{- $article = merge $article (dict "keywords" .) -}}
  {{- end -}}
  {{- with .socialImage -}}
    {{- $article = merge $article (dict "image" .) -}}
  {{- end -}}
  {{- $graph = $graph | append $article -}}
{{- end -}}

<script type="application/ld+json">{{ dict "@context" "https://schema.org" "@graph" $graph | jsonify | safeJS }}</script>
